@import "tailwindcss";

@layer base {
  html {
    font-family: "Courier New", system-ui, monospace;
    background-image: url("/icons/trees_combined.png");
    background-size: 100px;
    background-repeat: repeat;
    background-color: black;
  }
}


@theme {
  --color-primary: #851efb;
}